.MainFeatureContainer {
  background-color: rgb(38, 104, 103, 0.6);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 23rem;
  width: 50rem;

  border-radius: 20px;

  position: relative;

  transition: background-color ease 0.3s;
}

.viewProductButton {
  height: 3rem;
  width: 10rem;
  border-radius: 7px;
  border: none;

  position: absolute;
  bottom: 2.5rem;
  right: 3rem;

  background-color: rgba(38, 104, 103, 0.8);
  color: white;

  transition: background-color ease 0.07s;
}

.viewProductButton:hover {
  cursor: pointer;
  background-color: rgba(18, 84, 83);
}

/* ---------- store feature ------------ */

/* store item */
.StoreItemContainer {
  display: flex;
  flex-direction: column;
}
.StoreItemImage {
  height: 16rem;
  width: 16.3rem;
  border-radius: 5px;
  border: none;
}

.StoreItemInfo {
  display: flex;
  justify-content: space-between;
}

.StoreItemInfo p {
  margin: 0;
}

/* store carusel */
.storeFeature {
  display: flex;
  align-items: center;
  width: 50rem;
  height: 15.5rem;
  position: relative;
}

.storeButton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border: none;

  position: absolute;

  transition: background-color ease 0.1s;
}

.storeButton:hover,
.CaruselButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.storeCarousel {
  overflow: hidden;
}

.storeCarouselSub {
  display: flex;
  gap: 0.5rem;
  transition: transform ease 0.3s;
}

.right1 {
  transform: translateX(-33.6rem);
}

.right2 {
  transform: translateX(-50.4rem);
}

.right3 {
  transform: translateX(-67.2rem);
}

/*  ---------- side feature ------------ */

.SideFeatureContainer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: rgba(248, 188, 36, 1);
  height: 20rem;
  width: 50rem;
  border-radius: 15px;

  position: relative;
}

.SideFeatureInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;

  right: 6rem;
  top: 4rem;
}

.SideFeatureInfo p {
  color: #fff1cc;
  margin: 0;
}

.SideTitle {
  font-size: 35px;
}

.SideDesc {
  width: 22rem;
}

.SideButton {
  height: 3.5rem;
  width: 12rem;
  border-radius: 10px;
  border: solid 2px #fff1cc;
  background-color: transparent;
  color: #fff1cc;

  position: absolute;

  bottom: 2rem;
  right: 4rem;

  transition: background-color ease 0.1s;
}

.SideButton:hover {
  cursor: pointer;
  background-color: #fff1cc;
  color: rgba(248, 188, 36, 1);
}

.contactButton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  height: 4rem;
  width: 15rem;
  border-radius: 15px;
  border: none;

  transition: background-color ease 0.1s;
}

.contactButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

/* new carousel */

.CaruselButton {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border: none;

  transition: background-color ease 0.1s;
}

.CaruselContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: azure; */

  height: 15.5rem;
}

.CaruselDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50.4rem;
  height: 17.2rem;

  /* background-color: aliceblue; */
  margin-left: 2.25rem;
  margin-right: 2.25rem;

  overflow: hidden;

  border-radius: 5px;
}

.StoreCarouselItemContainer {
  height: 17.2rem;
  width: 16.3rem;

  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
}

.CaruselDisplaySub {
  display: flex;
  transition: all ease-in-out 0.55s;
  /* transform: translateX(-50.4rem); */
}

.CaruselItemImage {
  width: 100%;
  height: 15.5rem;
  background-color: rgb(240, 240, 240);

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.CaruselItemInfo {
  display: flex;
  justify-content: space-between;
}

.CaruselItemInfo p {
  margin: 0;
  margin-top: 0.1rem;
}
