.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;

  min-height: 91vh;
}

.itemPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.CreateFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  /* align-items: center; */
  width: 24rem;
  /* background-color: aqua; */
}
.overview {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  /* width: 24; */
}

.category {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: solid 1px rgb(0, 0, 0, 0.5);
  outline: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* ----------------------
description styling
---------------------- */
.descriptionContainer {
  position: relative;
}

.descriptionContainer label {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgb(0, 0, 0, 0);
  transition: all ease 0.1s;
}

.description {
  resize: none;
  width: 22rem;
  border-radius: 10px;

  /* border: none; */
  /* border-bottom: solid 1px black; */
  outline: none;
  min-height: 2rem;

  transition: all ease 0.4s;

  /* PADDING */
  padding: 1rem;

  padding-bottom: 0;
  font-size: 15px;
  font-family: inherit;
}

.technicalContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.technicalAdd {
  width: 22rem;
  height: 2.5rem;
  border-radius: 10px;
  border: solid 1px rgb(0, 0, 0, 0.5);
  background: transparent;

  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#technicalButton {
  width: 24.1rem;
  height: 2.75rem;
  transition: all ease 0.15s;
}
#technicalNewInput {
  outline: none;
}
#technicalButton:hover,
#optionButton:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}

/* ----------
point
--------- */

.pointContainer {
  position: relative;
}
.pointRemove {
  position: absolute;
  left: -1.5rem;
  top: 1.19rem;
  border-radius: 100%;
  border: none;
  background-color: black;
  height: 7px;
  width: 7px;

  transition: all ease 0.1s;
}

.pointRemove:hover {
  background-color: red;
  cursor: pointer;
}

/* ----------
selection
--------- */
.selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
/* -- selection item -- */
.selectionItemContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.selectionOptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.selectionSelection,
.selectionContainer {
  width: 22rem;
  height: 2.5rem;
  border-radius: 10px;
  border: solid 1px rgb(0, 0, 0, 0.5);
  background: transparent;

  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

#optionButton {
  width: 20rem;
  transition: all ease 0.15s;
}

.selectioMainContainer {
  position: relative;
}

.addSelectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#optionInput {
  width: 18rem;
}

/* ----------
sku
--------- */

.genSkuContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 1.5px rgb(200, 200, 200);
  border-radius: 10px;
  padding: 1.5rem;
  min-width: 14rem;
  height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
}

.genSkuContainer::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
  border-radius: 10px;
}
.genSkuContainer::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
}

.genSkuContainer p {
  color: rgb(120, 120, 120);
  font-size: 15px;
  margin: 0;
}

#generatedSkuTitle {
  color: black;
  /* margin-bottom: ; */
}

/* --------------------------------------
Image Container 
---------------------------------------*/

.imageContainerMain {
  display: flex;
  flex-direction: column;
}
.imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 10px;
}
.imageButton {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 5;
  padding: 0;
  margin: 0;
}
.imageButton:hover {
  cursor: pointer;
}
.imageButton div {
  height: 130px;
  width: 130px;
  border-radius: 10px;
  position: absolute;
  z-index: 4;
  background-color: rgb(0, 0, 0, 0);

  transition: all ease 0.5;
}
.imageButton p {
  position: absolute;
  margin: 0;
  top: 42%;
  left: 34%;
  color: rgba(255, 255, 255, 0);
  z-index: 5;
  transition: all ease 0.5;
}
.image {
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

/* --------------------------------------
Image preview 
---------------------------------------*/
.mainImage {
  border-radius: 15px;
}
.subImage {
  border-radius: 10px;
}
.imagePreviewContainer {
  display: flex;
  gap: 0.5rem;
}

.subImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.1rem;
}

.subImageButton {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.subImageButton:hover {
  cursor: pointer;
}

.noImagePreview {
  height: 400px;
  width: 420px;
  border-radius: 15px;
  /* border: solid 1px black; */
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(120, 120, 120);
}

.noImagePreviewSub {
  height: 400px;
  width: 65px;
  border-radius: 15px;
  background-color: rgb(230, 230, 230);
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 100;
  background-color: rgb(0, 0, 0, 0.5);
}

.addImageModal {
  height: 40rem;
  width: 30rem;
  top: 6rem;
  left: 30rem;
  background-color: white;
  position: fixed;
  z-index: 101;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageInput {
  display: none;
}

.imageInputForm {
  height: 20rem;
  width: 100%;
  position: relative;
}

.imageInputLabel {
  position: absolute;
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
}

.imageInputLabel:hover {
  cursor: pointer;
}

.imageModalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  gap: 2rem;
}
.modalInputSpan {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.modalInputSpan label {
  margin-left: -5px;
}
.imageModalInfoInput {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.modalInput {
  width: 22rem;
  height: 2.5rem;
  border: none;
  border-bottom: solid 1px rgb(0, 0, 0, 0.5);
  outline: none;
  font-size: 15px;
}

.imageModalImages {
  height: 10rem;
  width: 20rem;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.imageOne {
  border-radius: 10px;
}
#isButtonForm {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.imageModalButtons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.imageModalImagesContainer {
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.imageModalImagesContainer::-webkit-scrollbar {
  width: 0.5rem; /* Adjust as needed */
}

.imageModalImagesContainer::-webkit-scrollbar-track {
  background: transparent;
}

.imageModalImagesContainer::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.1); /* Adjust as needed */
  border-radius: 10px;
}

.limitTitle {
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 33%;
  color: rgb(0, 0, 0, 0.2.5);
}

.technicalAdd {
  position: relative;
}

.descriptionError {
  border: solid 1px red;
}

/* ---------- category ------------- */
.categoryContainer {
  display: flex;
  gap: 1rem;
}

.categoryButton {
  border: none;
  border-radius: 50px;
  height: 2rem;
  width: 2.2rem;
  background-color: rgb(240, 240, 240);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all ease 0.2s;
  font-size: 15px;
}
.categoryButton:hover {
  background-color: rgb(210, 210, 210);
  cursor: pointer;
}
