.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  min-height: 50vh;
}

.ContactFormContainer {
  background-color: rgb(0, 0, 0, 0.1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: 25rem;
  width: 50rem;

  border-radius: 20px;
}

.description {
  height: 9rem;
  width: 38rem;
  padding-left: 4em;
  padding-right: 4rem;
  background-color: #fc9c28;
  border-radius: 20px;
  color: #ffe3bf;

  display: flex;
  align-items: center;
  text-align: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
  position: relative;
}

.errorText {
  position: absolute;
  bottom: -15px;
  color: red;
  margin: 0;
  font-size: 11px;
}

.nameContainer {
  display: flex;
  gap: 1.5rem;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 16rem;
  position: relative;
}
.label {
  position: absolute;
  top: 10px;
  left: 1.5px;
  font-size: 11px;

  transition: all ease 0.15s;
}
.labelActive {
  top: -15px;
  left: -5px;
  font-size: 10px;
}
.labelError {
  color: red;
}
.input {
  border: none;
  background-color: transparent;
  border-bottom: solid 1px rgb(0, 0, 0, 0.5);
  height: 1.5rem;
  font-size: 15px;
  outline: none;
}
.inputError {
  border-bottom: solid 1px red;
}
.input::placeholder {
  opacity: 0;
  transition: all ease 0.3s;
}
.input:focus::placeholder {
  opacity: 100;
}
.input:focus {
  border-bottom: solid 1px blue;
}
.input:focus + .label {
  top: -15px;
  left: -5px;
  font-size: 10px;
  color: blue;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.submitButton {
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
  background-color: #203d4b;
  color: white;

  position: absolute;
  bottom: -1.2rem;
  right: 8rem;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #162a34;
}
