.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  min-height: 91vh;
}

.ProductInfo {
  display: flex;
  gap: 3rem;
}
/* --------------------------------
image
---------------------------------*/

/* image container (main)*/
.ImageContainer {
  display: flex;
  gap: 0.5rem;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
}

/* Main Image Container (big image)*/
.MainImageContainer {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 35rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Main Image */

.SubImageContainer {
  border-radius: 10px;
  height: 35rem;
  width: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.4rem;
}

/* Sub Image Item  */
.SubImageImg,
.SubImageButton {
  height: 5rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: rgb(200, 200, 200);
}

.SubImageButton:hover {
  cursor: pointer;
}

/* --------------------------------
Product Info
---------------------------------*/
.ProductInfoContainer {
  width: 25rem;
}

/* product general */
.ProductGeneralContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: relative;
}

.ProductGeneralContainer p {
  margin: 0;
}

.NamePrice {
  display: flex;
  align-items: center;
  gap: 5rem;
}

#name {
  font-size: 25px;
}
#price {
  font-size: 25px;
  /* margin-right: 5rem; */
}

.Category {
  color: rgb(120, 120, 120);
}

.Favorite {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  font-size: 20px;
  transform: rotate(270deg);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.Favorite p {
  margin: 0;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: rgb(200, 200, 200);
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
