.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  min-height: 81vh;
}

.ProductInfo {
  display: flex;
  gap: 3rem;
}
/* --------------------------------
image
---------------------------------*/

/* image container (main)*/
.ImageContainer {
  display: flex;
  gap: 0.5rem;

  position: sticky;
  top: 7.2rem;
  align-self: flex-start;
}

/* Main Image Container (big image)*/
.MainImageContainer {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 35rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Main Image */

.SubImageContainer {
  border-radius: 10px;
  height: 35rem;
  width: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.4rem;
}

/* Sub Image Item  */
.SubImageImg,
.SubImageButton {
  height: 5rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: rgb(200, 200, 200);
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.SubImageButton:hover {
  cursor: pointer;
}

.SubImageButton:hover .SubImagePic {
  opacity: 80%;
}
/* --------------------------------
Product Info
---------------------------------*/
.ProductInfoContainer {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* product general */
.ProductGeneralContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  position: relative;
}

.ProductGeneralContainer p {
  margin: 0;
}

.NamePrice {
  display: flex;
  align-items: center;
  gap: 5rem;
}

#name {
  font-size: 25px;
}
#price {
  font-size: 25px;
  /* margin-right: 5rem; */
}

/* .Category {
  color: rgb(120, 120, 120);
} */

.nameCatContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.nameCatContainer p {
  margin: 0;
}
/* favorite */
.Favorite {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  font-size: 20px;
  transform: rotate(270deg);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.Favorite p {
  margin: 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgb(200, 200, 200);
}

/* Product Descroption */
.ProductDescriptionContainer {
  display: flex;
  flex-direction: column;
  color: rgb(110, 110, 110);
}

/* Selection */
.SelectionContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
/* Selection Option */
.OptionContiner {
  display: flex;
  gap: 0.5rem;
}
.OptionButton {
  max-width: 7rem;
  min-width: 4rem;
  height: 2.6rem;
  text-align: center;
  background-color: transparent;
  border: solid 1.5px rgb(200, 200, 200);
  border-radius: 5px;
}

.OptionButton p {
  margin: 0;
}

.OptionButton:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}

.OptionMainContainer {
  display: flex;
  flex-direction: column;
}

.SelectionTitle {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
}
/* add to cart */
.AddToCartButton {
  height: 3rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
}

.AddToCartButton:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}

/* -----------------------------------
Review
----------------------------------- */

.ReviewButton {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  background-color: transparent;
  border: none;
}

.ReviewButton:hover {
  cursor: pointer;
}

.ReviewArrow {
  margin-right: 1rem;
  transition: all ease 0.2s;
}

.FlipArrow {
  transform: rotate(180deg);
}

.ReviewDisplay {
  margin-top: 1rem;
}

.ReviewItemContainer {
  margin-bottom: 2rem;
}

.ProductSectionTitle {
  color: black;
  font-size: 20px;
}

.ReviewUser {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.ReviewUser p {
  margin: 0;
}

.ReviewRate {
  margin-bottom: 0.65rem;
}

/* -------------------------------
Review Action buttons 
------------------------------- */

.ActionReviewButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ShowMoreButton {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: rgb(100, 100, 100);
  transition: all ease 0.2s;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ShowMoreButton:hover {
  color: black;
  cursor: pointer;
}

.ShowMoreLoading {
  animation: loading 1s ease-out infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ReviewAdd {
  border: solid 1px black;
  background-color: transparent;
  height: 2rem;

  border-radius: 5px;
}
.ReviewAdd:hover {
  cursor: pointer;
}

.TechnicalUl {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 22rem;
  /* padding: 1rem; */
}

.SubImagePic {
  border-radius: 10px;
  width: 77px;
  height: 77px;
}
