.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  min-height: 100vh;
}

/* ---------- store menu ---------- */
.MenuContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 1.5rem;
  background-color: rgb(220, 220, 220);

  min-height: 11rem;
  min-width: 9rem;
  max-width: 13rem;
  border-radius: 12px;
  padding: 1.5rem;
}

.MenuContainer button {
  border: none;
  background-color: transparent;
  transition: all ease 0.1s;
  font-size: 17px;
  white-space: nowrap;
}

.MenuContainer button:hover {
  cursor: pointer;
  color: rgb(75, 75, 75);
}

/* ---------- store display ---------- */
.ItemDisplayContainer {
  width: 45rem;

  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: center;
  gap: 0.75rem;
}

/* ---------- store item ---------- */
.ItemContainer {
  height: 15rem;
  border-radius: 10px;
  border: none;
  padding: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  background-color: rgb(252, 252, 252);
}

.ItemContainer:hover {
  cursor: pointer;
}

.Image {
  background-color: rgb(200, 200, 200);
  height: 12rem;
  width: 100%;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5.36px;
}

.ItemInfo {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
