.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  min-height: 75vh;
}

/* -------------------------------------
Login page
------------------------------------- */

.LoginContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}

.SignInButton {
  margin-top: -0.5rem;
  height: 2.5rem;
  width: 20rem;
  border-radius: 5px;
  border: none;

  transition: background-color ease 0.1s;
}

.SignInButton:hover,
.UserSignoutButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.Link {
  font-size: 15px;
}

.Title {
  margin: 0;
  margin-bottom: -0.5rem;
}

/* -------------------------------------
User page
------------------------------------- */
.UserContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.UsernamePlate {
  width: 50rem;
  height: 15rem;
  background-color: rgb(230, 230, 230);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

.UserSignoutButton {
  height: 3rem;
  width: 12rem;
  border-radius: 10px;
  border: none;
  transition: all ease 0.2s;
}

.MenuRelative {
  position: relative;
}

.UserInfo {
  min-height: 23rem;
  width: 50rem;
  display: flex;
}

.MenuRelative {
  width: 10rem;
  height: 100%;
}
.InfoDisplay {
  height: 100%;
  width: 40rem;
  background-color: rgba(240, 240, 240);
  border-radius: 10px;
}

/* Info Display */

.UserInfoContainer {
  min-height: 23rem;
  width: 100%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 2rem;
}

.UserInfoContainer p {
  margin: 0;
}

.InfoName,
.InfoEmail,
.InfoShipping {
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.InfoName span,
.InfoEmail span,
.InfoShipping span {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InfoTitle {
  font-size: 12px;
}
.InfoValue {
  font-size: 17px;
}

.InfoTitleContainer {
  width: 100%;
  margin-left: 4rem;
  margin-top: 2rem;
  font-size: 20px;
}

/* favorite item */
.FavoriteDisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
.FavoriteItemContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
  background-color: rgb(230, 230, 230);
  padding: 1rem;
  width: 32.5rem;
  border-radius: 10px;
}

.FavoriteImage {
  height: 7rem;
  width: 7rem;
  background-color: rgb(200, 200, 200);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FavoriteInfoContainer {
  min-width: 20rem;
}
.FavoriteButton {
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.FavName {
  font-size: 16px;
}
.FavCat {
  font-size: 12px;
  color: rgb(100, 100, 100);
}
.FavPriceContainer p {
  margin-top: 1rem;
  font-size: 23px;
}

.FavButton {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-right: 3.5rem;
}
.FavButton:hover {
  cursor: pointer;
}
