.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  background-color: rgb(220, 220, 220);

  position: fixed;
  top: 0px;

  transition: top ease 0.2s;

  z-index: 100;
}

.subContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  width: 55rem;
  height: 6.2rem;
}

.linkContainer {
  display: flex;
  gap: 2rem;

  margin-left: -17rem;
}

.iconContainer {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
  transition: all ease 0.2s;
}
.link:visited {
  color: black;
}
.link:hover {
  color: rgb(100, 100, 100);
}

.cartButton {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: all ease 0.2s;
}

.cartButton p {
  margin: 0;
}

.cartButton:hover {
  cursor: pointer;
  color: rgb(100, 100, 100);
}
