.errorContainer {
  position: absolute;
  top: 30px;
}
.errorText {
  /* position: absolute;
    bottom: -15px; */
  color: red;
  margin: 0;
  font-size: 11px;
}

.nameContainer {
  display: flex;
  gap: 1.5rem;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 16rem;
  position: relative;
}
.label {
  position: absolute;
  top: 10px;
  left: 1.5px;
  font-size: 11px;

  transition: all ease 0.15s;
}
.labelActive {
  top: -15px;
  left: -5px;
  font-size: 10px;
}
.labelError {
  color: red;
}
.input {
  border: none;
  background-color: transparent;
  border-bottom: solid 1px rgb(0, 0, 0, 0.5);
  height: 1.5rem;
  font-size: 15px;
  outline: none;
}
.inputError {
  border-bottom: solid 1px red;
}
.input::placeholder {
  opacity: 0;
  transition: all ease 0.3s;
}
.input:focus::placeholder {
  opacity: 100;
}
.input:focus {
  border-bottom: solid 1px blue;
}
.input:focus + .label {
  top: -15px;
  left: -5px;
  font-size: 10px;
  color: blue;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
